<p id="notice"><%= notice %></p>
<main>
<div class="card mb-4">
  <div class="card-header">
      <i class="fas fa-table me-1"></i>
      <h1><center>Trainers</center></h1>
  </div>
  <div class="card-body">
    <table id="datatablesSimple" class= "dataTable-table">
      <thead>
        <tr>
          <th>Full name</th>
          <th>First name</th>
          <th>Last name</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @trainers.each do |trainer| %>
          <tr>
            <td><%= trainer.full_name %></td>
            <td><%= trainer.first_name %></td>
            <td><%= trainer.last_name %></td>
            <td><%= link_to 'Show', trainer %></td>
            <td><%= link_to 'Edit', edit_trainer_path(trainer) %></td>
            <td><%= link_to 'Destroy', trainer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
</main>
<br>

<%= link_to 'New Trainer', new_trainer_path, class: "btn btn-outline-dark" %>
